<div class="card">
    <h3 style="text-align: center;">Tecnologias Utilizadas</h3>
    <div class="img" style="height:auto;"><img width="100%" style="border-radius: 5px;" src="../images/Tecnologias.png"></div>
</div>

<div class="card">
    <h3 style="text-align: center;">Post da Semana</h3>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Meet the more robust Maya with a new scaling feature, Script Editor enhancements, file location visibility, improved USD and more! 👉 Check it out: <a href="https://t.co/bh9w1PM7Vk">https://t.co/bh9w1PM7Vk</a> <a href="https://twitter.com/hashtag/Maya3D?src=hash&amp;ref_src=twsrc%5Etfw">#Maya3D</a> <a href="https://t.co/A3T8Tsd2eG">pic.twitter.com/A3T8Tsd2eG</a></p>&mdash; Autodesk Maya (@AdskMaya) <a href="https://twitter.com/AdskMaya/status/1440775452985946119?ref_src=twsrc%5Etfw">September 22, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>
<div class="card">
    <h3 style="text-align: center;">Mais posts</h3>
    <p style="text-align: center;">Veja Mais</p>
</div>
